/* navbarcsss */

body{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
width: 100%;

    
}
.main-color{
    color:#21D0B3;
}
.nav-link{
    color: white;

}
.navbar-brand img{
    width: 170px;
    height: 30px;
    margin-left: 23px;
    
}
.navbar-nav{
    font-size: 15px;
    gap: 12px;
    margin-left: 16%;

}
/* .searchbar-div{
   margin-bottom: -1.5%;
   margin-right: 23px;

} */
.side-nav-contact{
   
    background-color: #21D0B3;
}

.bg-nav{
    background-color: #1b1525;
}
.search-icon
{
    height: 42px;
    width: 42px;
margin-left: -85%;
}
.side-buttonimp{
    background-color: #21D0B3;
    color: black;
    font-weight: bold;
    width: 120px;
    margin-bottom: -8%;
    margin-left: -18%
}


@media only screen and (max-width: 450px){
    .navbar-brand img{
      
        margin-left: 0;
        
    }

}

/* header-csss */
.banner-div{
margin-top: -5%;

}
.main-content{
    margin-top: 12%;
}
.header-bg{
    background:  url(../images/Hero-Home.webp) center center  no-repeat;
    background-size: cover;
    padding-top:15% ;
    padding-bottom: 15%;
    
    height: 540px;
    width: 1000px;

   


  
   

}
.content h2{
    font-size: 35px;
    letter-spacing: 1px;
    margin-left: -2%;

}

.talk-expert{
    border: 1.5px solid #21D0B3;
    padding-top: .3%;
    padding-bottom: .3%;
    padding-left: -50%;
    width: 16%;
    margin-left: 42%;
    font-weight:  600;  }   
    .talk-expert .btn{
        background-color: #21D0B3;  color: black;
        font-weight: 500;
    }
  
.word-c{
font-size: 20px;

font-weight: lighter;
margin-bottom: .5%;
margin-left: -2%;
   letter-spacing: 1px;
}

.icons-div{
   
    
    display: flex;
 



}


.main-icons img{
    height: 380px;
    width: 253px;
    

}
.main-icons h4 {
margin-top: -50%;
color:white ;
font-size: 28px;

}
.main-icons p{

color:white  

}
@media only screen and (max-width: 450px){
    .icons-div{
        display: inline;
  
    }
    .main-icons img{
        height: 422px;
        width: 319.8px;
        
    
    }
    .main-icons{
        margin-top: -1%;
        }
   
}

/* icons end */







/*NEXT GENERATION */
   @media only screen and (max-width:768px) {

            .container {
                margin-top: 66px;
            }

        }

        .height {
            height: 100vh;
        }

        .card {

            border: none;
            cursor: pointer;
            box-shadow: 0 0 40px rgba(51, 51, 51, .1)
        }

        .card:hover {

            background-color: #eee;

        }

        .ratings i {

            color: orange;
        }

        .testimonial-list {

            list-style: none;
        }

        .testimonial-list {
            margin-left: -10%;
        }

        .testimonial-list li {

            margin-bottom: 20px;
            color: black;
            font-weight: 600;

        }

        .testimonials-margin {

            margin-top: -19px;
        }




        .side-image {
            margin-bottom: -3%;
          
        }

        .side-image img {
            width: 8px;
            height: 50px;
        }

        .next-gentration span {
            font-size: 20px;
            margin-top: 3%;
            margin-left: 3%;

        }

        .right-side-card {
            background-color: white;

            box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.664);
            margin-top: 1%;

            width: 810px;
            margin-left: -43%;
        }

        .next-gen-main {
            margin-left: -5%;
        }

        .point-img {
            margin-right: 8%;
            width: 50%;
        }

        .point-img img {
            margin-right: 4%;

        }

        .point-img1 {
            margin-right: 8%;
            width: 45%;
        }

        .point-img1 img {
            margin-right: 4%;

        }

        .explore-button{
            margin-left: 77.5%;
          background-color: #21D0B3;
          font-size: larger;
          margin-top: -3%;
          color: white;
      
        }
        .content-next{
            margin-top: 6%;

         
         
        }
        .content-next1{
            font-weight: bolder;
            font-size: 50px;
            margin-left:34%; 
            color: #21D0B3;
         
     
            

        }
       
      
        .content-next h2{
            font-size: 42px;
            font-weight: bold;
            margin-bottom: -3%;

        }
       .main-app{
        margin-top: -3%;
       }


        @media only screen and (max-width: 450px) {
            .next-genration-div{
            margin-top: 460%;
            }
            
            
            .content-next{
          
          
                margin-top: -10%;
             
            }
            .content-next1{
         display: none;
        
            }
            .content-next h2 {
                /* margin-top: -25%; */
            }
           
            .testimonial-list {
                margin-left: 8%;
                margin-top: 300%;
                
            
            }
         


           

            .right-side-card {

                width: 300px;
                margin: auto
            }

            .main-app {
                margin-top: 35%;
            }


            @media only screen and (max-width: 375px){
                .main-app{
                    margin-top: 35%;
                }
            }


        }

/*Get to know us*/
.get-know{
    color: #21D0B3;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;

}
.easy{
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
    
}

.lorem1 {

    font-size: 20px;
    color: black;
    font-weight: lighter;

}
.lorem1 img{
    width: 20px;
    height: 20px;
    margin-right: 2%;
    margin-top: 1%;
 
}
.lorem{
    font-size: 20px;
    color: black;
    font-weight: lighter;
    margin-top: 20px;
}
.stop {
    font-size: 28.8px;
    margin-top: 41px;
    margin-left: -4%;
}
.stop img{
    width: 100px;
    height: 100px;
    margin-top: -3%;
   
}
.get-image img{
    width: 550px;
    height: 500px;
    margin-left: 5%;
}



        /*INDUSTRIES WE SERVE*/
        
        .content-next2{
            font-weight: bolder;
            font-size: xx-large;
            margin-left: 36%;
            color: #21D0B3;
           

        }
        .comtent-serve h2{
            margin-bottom: -1%;
            font-size: 42px;
            font-weight: bold;


        }
      
    
       
    .item { 
    Flex: 1; 
    height: 100%;  
    background-position: center;
    background-size: cover; 
    background-repeat: none;
    transition: flex 0.8s ease;


    
    &:hover{ 
    flex: 4;
}
}

.gallery-wrap {
display: flex;
margin: 0;
flex-direction: row;
width: 100%;
height: 70vh;



}
.item-1 {
background-image: url(../images/Layer\ 16.webp);

margin-left: -1.28%;
margin-right:3px;


}
.item-2 {

    background-image: url(../images/Layer\ 8\ copy.webp);
    margin-right:3px;
}
.item-3 {
    background-image: url(../images/Layer\ 8\ copy\ 2\ \(1\).webp);
    margin-right:3px;
}
.item-4 {

    background-image: url(../images/Layer\ 18.webp);
    
    margin-right:3px;
}
.item-5 {

    background-image: url(../images/learning-education-ideas-insight-intelligence-study-concept.webp);
    margin-right: -1.2%;
   
   
}


.social{
position: absolute;
right: 35px;
bottom: 0;}

img {
display: block;
width: 20px;
}

.ri-instagram-fill{
color: black;
text-decoration: none;
height: 30px;
}

.icon{
height: 30px;
text-decoration: none;
margin: auto;
}
.item-1 h3{
    text-align: center;

margin-bottom: -50%;
}
@media only screen and (max-width: 450px){
    .gallery-wrap {
        display: inline;
    }

}







/*why work*/

.why-bg{
    background-image: url(../images/Layer\ 52\ copy.webp);
    background-size: cover;
     
    height: 700px;
    width: 1259px;
   


}

.why-h3{
    text-align: center;
    font-size: 42px;
    color: white;
    padding-top: 5%;
    margin-bottom: -2.5%;

}
.content-text3{
    font-weight: bolder;
    font-size: 50px;
    margin-left:37%; 
    color: #21D0B3;
  
}

.first-div-why{
    padding-top: 50px;
   


}
.box1{
    margin-left: 90px;
    background-color: white;
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
}
.box1 img{
    width:40px;
    height: 40px;
    margin-left: 5%;
    margin-top: 5%;
 
  
   
}
.seconde-box{
    margin-left: 4%;
    
  
}
.seconde-box h3{
    font-size: 28px;
    
}

.box2{

    background-color: white
;
    margin-right: 90px;
    border-bottom-right-radius: 60px;
    border-top-left-radius: 60px;
}
.box2 img{
    width:40px;
    height: 40px;
    margin-left: 5%;
    margin-top: 5%;
 
  
   
}